[submodule "fpga/org.ietr.preesm.gaussian-difference"]
	path = fpga/org.ietr.preesm.gaussian-difference
	url = ../org.ietr.preesm.gaussian-difference.git
[submodule "fpga/org.ietr.preesm.color-filter"]
	path = fpga/org.ietr.preesm.color-filter
	url = ../org.ietr.preesm.color-filter.git
[submodule "fpga/org.ietr.preesm.wavelet"]
	path = fpga/org.ietr.preesm.wavelet
	url = ../org.ietr.preesm.wavelet.git
